*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

.marg{
    margin-bottom: 100px;
}


@media screen and (min-width: 0px) and (max-width: 900px) {
    .inline-content{
        display: inline-flex;
    }
   
    .formulaire{
        margin-left: 20px;
        margin-top: 30px;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        border-radius: 25px;
        background-color: #fff;
        
    }
    input[type="text"], textarea , input[type="email"], input[type="number"]{
        height: 50px;
        background-color : #dbd9d9; 
        border: 0;
        border-radius: 10px;
        width: 100%;
      }
    .space{
        width: 10px;
    }
    
    .button-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

    }
    
    
    .form-p{
       
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 500;
        color: grey;
    }
    .margin{
        margin-bottom: 0px;
    }
    .greenLogo{
        
        color: #69DE9B;
        font-size: 20pt;
        font-weight: 900;
        font-family: Poppins;
        align-self: center;
        margin-left: 3px;

    }

    body{
        width: 100%;
        height: 100%;
        background-image: url(./assets/livetolive/phone.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
   
    .content{
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 20px;
    }
    .leftContent{
        width: 100%;
        height: auto;
    }
    .logo{
        width: 100px;
        height: auto;
    }
    .logo img{
        width: 80px;
        height: auto;
    }
    .title{
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 10px;

        color: #000000;
        
        
    }
    
    .subtitle{
        width: 100%;
        height: auto;
        margin-left: 20px;
        margin-top: 30px;
        color: #000000;
        font-size: 13pt;
        font-weight: 500;
    }
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
    .columnPres{
        width: 100%;
        height: auto;
        margin-top: 50px;
        color: #000;
    }
    .ligne{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    .arrow{
        width: 20px;
        height: 50px;
        position: relative;
    }
    .ligneText{
        width: calc(100% - 30px);
        height: 50px;
    }
    .ligneText p{
        vertical-align:middle;
        font-weight: 800;
        font-size: 10pt;
    }
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #000000;
        position: absolute;
        top: 10%;
        transform: translate(-0%, -10%);
    }
    .rs{
        width: 90;
        height: 70px;
        margin: 80px auto;
    }
    .rs img{
        width: 100%;
        height: auto;
    }
    .footer{
        width: 100%;
        height: 150px;
        background-color: #69DE9B;
        position: relative;
        bottom: 0px;
    }
    .contentFooter{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .contentFooter a{
        color: #fff;
    }
    .contentFooter *{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer-info{
        width: 100%;
        height:350px;

        background-color: white;
    }
    .footer-list {
        
        padding-right: 30px;
        padding-top: 30px;
        text-indent: 2px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1080px) {
    .img-store{
        
        width: 150px;
        height: 60px;
        float: right;
    }

    .img-apple{
        
        width: 130px;
        height: 42px;
        float: right;
        margin-top: 8px;
        margin-left: 10px;
    }
    
    
    input[type="text"], textarea , input[type="email"], input[type="number"]{
        height: 50px;
        background-color : #dbd9d9; 
        border: 0;
        border-radius: 10px;
        width: 150px;
      }
    .space{
        width: 10px;
    }
    
    
    .form-p{
       
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 300;
        color: grey;
    }
    button{
        height: 40px;
        width: 350px;
        background-color:  #69DE9B;
        font-size: 25px;
        color: white;
        justify-content: center;
        border-radius: 10px;
        border: 0; 
        
    }
    .button-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

    }

      /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 10px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    .formulaire{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        border-radius: 25px;
        background-color: #fff;
        
    }

    .form-inline {
        padding-left: 50px;
        justify-content: center;
        display: inline-flex;

    }
    .inline-content{
        display: inline-flex;
    }
    .greenLogo{
        
        color: #69DE9B;
        font-size: 30pt;
        font-weight: bold;
        font-family: Poppins;
        align-self: center;
    }
    body{
        width: 100%;
        height: 100%;
        background-image: url(./assets/livetolive/bgSay.png);
        background-size: 130% 180%;
        background-repeat: no-repeat;
        background-attachment: fixed;   
        background-position: center center;
        
    }
    .content{
        width: 100%;
        height: auto;
        position: absolute;
        top: 5px;
    }
    .centerContent{
        width: 850px;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .leftContent{
        width: 700px;
        height: auto;
    }
    .rightContent{
        width: 250px;
        height: auto;
        
    }
    .rightContent .img{
        height: 500px;
        float: left;
    }
    .logo{
        width: 300px;
        height: auto;
    }
    .logo img{
        width: 100px;
        height: auto;
    }
    .title{
        width: 100%;
        height: auto;
        margin-top: 40px;
        color: #000000;
        font-size: 13px;
    }
    .subtitle{
        width: 100%;
        height: auto;
        margin-top: 30px;
        color: #000000;
        font-size: 15px;
    }
    .columnPres{
        width: 100%;
        height: auto;
        margin-top: 30px;
        color: #000000;
    }
    .ligne{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .arrow{
        width: 20px;
        height: 50px;
        position: relative;
    }
    .ligneText{
        width: calc(100% - 30px);
        height: 50px;
    }
    .ligneText p{
        vertical-align:middle;
        font-weight: 600;
        font-size: 15px;
    }
    .rs{
        width: 400px;
        height: 70px;
        margin-top: 80px;
    }
    .footer{
        width: 100%;
        height: 70px;
        background-color:#69DE9B;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .contentFooter{
        width: 580px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        line-height: 70px;
        margin-right: 20px;
        color: #fff;
        font-size: 13px;
        margin: auto;
    }
    .footer-info{
        width: 102%;
        height: 400px;
        background-color: white;
    }
    .footer-list {
        margin-left: 30px;
        padding-top: 30px;
        text-indent: 2px;
    }
    .contentFooter a{
        color: #fff;
        text-decoration: none;
        text-decoration: underline;
    }
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #000000;
        position: absolute;
        top: 10%;
        transform: translate(-0%, -10%);
    }
    .pc {
        display: block;
    }
    .mobile {
        display: none;
    }
}
@media screen and (min-width: 1080px) and (max-width: 1100px){
   
    
    input[type="text"], textarea , input[type="email"], input[type="number"]{
        height: 50px;
        background-color : #dbd9d9; 
        border: 0;
        border-radius: 10px;
      
      }
    .space{
        width: 30px;
    }
    
    
    .form-p{
       
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 300;
        color: grey;
    }
    button{
        height: 40px;
        width: 350px;
        background-color:  #69DE9B;
        font-size: 25px;
        color: white;
        justify-content: center;
        border-radius: 10px;
        border: 0; 
        
    }
    .button-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

    }

      /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    .formulaire{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        border-radius: 25px;
        background-color: #fff;
        
    }

    .form-inline {
        padding-left: 50px;
        justify-content: center;
        display: inline-flex;

    }
    .inline-content{
        display: inline-flex;
    }
    .greenLogo{
        
        color: #69DE9B;
        font-size: 30pt;
        font-weight: bold;
        font-family: Poppins;
        align-self: center;
    }
   
    body{
        width: 100%;
        height: 100%;
        background-image: url(./assets/livetolive/bgSay.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: 150% 200%;
    }
    .content{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 80px;
    }
    .centerContent{
        width: 1100px;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .leftContent{
        padding: 20px;
        width: 700px;
        height: auto;
    }
    .rightContent{
        width: 300px;
        height: auto;
    }
    .rightContent .img{
        height: 600px;
        float: right;
    }

    .img-store{
        
        width: 150px;
        height: 60px;
        float: right;
    }

    .img-apple{
        
        width: 130px;
        height: 42px;
        float: right;
        margin-top: 8px;
        margin-left: 10px;
    }
    .logo{
        width: 300px;
        height: auto;
    }
    .logo img{
        width: 100px;
        height: auto;
    }
    .title{
        width: 100%;
        height: auto;
        margin-top: 40px;
        color: #000000;
        font-size: 15px;
    }
    .subtitle{
        width: 100%;
        height: auto;
        margin-top: 30px;
        color: #000000;
    }
    .columnPres{
        width: 100%;
        height: auto;
        margin-top: 30px;
        color: #000;
    }
    .ligne{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .arrow{
        width: 20px;
        height: 50px;
        position: relative;
    }
    .ligneText{
        width: calc(100% - 30px);
        height: 50px;
    }
    .ligneText p{
        vertical-align:middle;
        font-weight: 600;
    }
    .rs{
        width: 400px;
        height: 70px;
        margin-top: 80px;
    }
    .footer{
        width: 100%;
        height: 70px;
        background-color: #0d0c22;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .contentFooter{
        width: 580px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        line-height: 70px;
        margin-right: 20px;
        color: #000;
        font-size: 13px;
        margin: auto;
    }
    .footer-info{
        width: 102%;
        height: 50%;
        background-color: white;
    }
    .footer-list {
        margin-left: 30px;
        padding-top: 30px;
        text-indent: 2px;
    }
    .contentFooter a{
        color: #fff;
        text-decoration: none;
        text-decoration: underline;
    }
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #000000;
        position: absolute;
        top: 10%;
        transform: translate(-0%, -10%);
    }
    .pc {
        display: block;
    }
    .mobile {
        display: none;
    }
}
@media screen and (min-width: 1100px) {

    .img-store{
        
        width: 150px;
        height: 60px;
        float: right;
    }

    .img-apple{
        
        width: 130px;
        height: 42px;
        float: right;
        margin-top: 8px;
        margin-left: 10px;
    }
    
    input[type="text"], textarea , input[type="email"], input[type="number"]{
        height: 50px;
        background-color : #dbd9d9; 
        border: 0;
        border-radius: 10px;
      
      }
    .space{
        width: 30px;
    }
    
    
    .form-p{
       
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 300;
        color: grey;
    }
    button{
        height: 40px;
        width: 350px;
        background-color:  #69DE9B;
        font-size: 25px;
        color: white;
        justify-content: center;
        border-radius: 10px;
        border: 0; 
        
    }
    .button-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

    }

      /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    .formulaire{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        border-radius: 25px;
        background-color: #fff;
        
    }

    .form-inline {
        padding-left: 50px;
        justify-content: center;
        display: inline-flex;

    }
    .inline-content{
        display: inline-flex;
    }
    .greenLogo{
        
        color: #69DE9B;
        font-size: 30pt;
        font-weight: bold;
        font-family: Poppins;
        align-self: center;
    }
    body{
        width: 100%;
        height: 100%;
        background-image: url(./assets/livetolive/bgSay.png);
        background-size: 130% 120%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
       
    }
    .content{
        width: 100%;
        height: 130%;
        position: absolute;
        top: 5px;
    }
    .centerContent{
        width: 1100px;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .leftContent{
        width: 700px;
        height: auto;
    }
    .rightContent{
        width: 300px;
        height: auto;
    }
    .rightContent .img{
        height: 600px;
        float: right;
    }
    .logo{
        width: 300px;
        height: auto;
    }
    .logo img{
        width: 100px;
        height: auto;
    }
    .title{
        width: 100%;
        height: auto;
        margin-top: 20px;
        color: #000000;;
        font-size: 15px;
    }
    .subtitle{
        width: 100%;
        height: auto;
        margin-top: 10px;
        font-family: Roboto;
        color: #000000;
        font-weight: 400;
        font-size: 15px;
    }
    .columnPres{
        width: 100%;
        height: auto;
        margin-top: 25px;
        color: #000;
    }
    .ligne{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* margin-top: 5px;
        margin-bottom: 5px; */
    }
    .arrow{
        width: 20px;
        height: 50px;
        position: relative;
    }
    .ligneText{
        width: calc(100% - 30px);
        height: 30px;
    }
    .ligneText p{
        vertical-align:middle;
        font-weight: 600;
        font-size: 15px;
    }
    .rs{
        width: 400px;
        height: 70px;
        margin-top: 80px;
    }
    .footer-info{
        width: 102%;
        height: 30%;
        background-color: white;
    }
    .footer-list {
        margin-left: 30px;
        padding-top: 30px;
        text-indent: 2px;
    }
    .footer{
        width: 100%;
        height: 70px;
        background-color:  #69DE9B;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .contentFooter{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
        line-height: 70px;
        margin-right: 20px;
        color: #fff;
        font-size: 18px;
        margin: auto;
    }
    .contentFooter a{
        color: #fff;
        text-decoration: none;
        text-decoration: underline;
    }
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #000000;
        position: absolute;
        top: 10%;
        transform: translate(-0%, -10%);
    }
    .pc {
        display: block;
        
    }
    .mobile {
        display: none;
    }
    .foot-text{
        font-size: 80px;
    }
}